@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <div class="card">
        <div class="card-header">
            <h1 class="display-4">Bem vindo!</h1>
        </div>
        <div class="card-body">
            <p class="card-text">É novo por aqui? Registre-se para ter a experiência completa!</p>
            <a runat="server" asp-controller="User" asp-action="Create" class="btn btn-dark">Registrar</a>
            <button type="button" class="btn btn-light">Entrar</button>
        </div>
    </div>
  
</div>
